#user_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

.avatar{
    height: 256px;
    padding-top: 135px;
    margin-top: 50px;
}

.yourname{
    margin-top: 80px;

}
